/* header */

.header {
    display: flex;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 90px;
    justify-content: center;
    z-index: 999;
}
/* 
@media screen and (max-width: 768px) {
    .header {
        width: 100%;
        height: 8%;
        text-align: center;
    }

} */

.nav {
    display: flex;
    align-items: center;
}


/* @media screen and (max-width: 768px) {
    .nav.logo>a>img {
        width: 20%;
       
    }
} */


.nav.menu_box {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-family: SUITE-Regular;
    font-weight: 500;
    font-size: 1.1em;
    color: white;
    width: 100%;

}

.nav.menu {
    display: flex;
    justify-content: space-around;
}



/* @media screen and (max-width: 768px) {
    .nav.menu {
        display: none;
    }
} */

/* .responsive_nav {
    display: none;
} */
/* @media screen and (max-width: 768px) {
    .responsive_nav {
        display: none;
        /*height: 0px; */
        /* overflow: hidden;
        background-color: black;
        position: absolute;
        top: 50px;
        width: 100vw;
        text-align: center;
        font-size: 80%;
    }
    .responsive_nav>li {
        margin-top: 3%;
        margin-bottom: 3%;
        
    }

}  */

.nav.menu>li {
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 400;
}



#nav_link {
    color: white;
    text-decoration: none;
}

#nav_link:visited {
    color: white;
    text-decoration: none;
}

#nav_link:hover {
    color: #ffffffd3;
}

/* footer */
footer {
    background-color: black;
    color: white;
    font-family: SUITE-Regular;
    display: flex;
    align-items: center;
    height: 150px;
    justify-content: space-around;
}

.footer_logo>img {
    object-fit: cover;
    width: 200px;
    height: 100px;
}

.footer_email {
    margin-bottom: 0.5em;
    list-style: none;

}