
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(69, 69, 69);
    scale: 160%;
    /* display: block; */
    margin: 0% auto;
    padding-top: 100px;
    position: relative;
    top: 50px
}
input[type="text"]{
    width: 90%;
    height: 20px;
    border: 0.1px solid rgb(239, 239, 239);
    border-radius: 3px;
    margin-bottom: 1px;
    font-size: x-small;
    
}
.container1{
    width: 250px;
    height: 300px;
    background-color: rgb(55, 55, 55);
    border-radius: 3%;
    padding-left: 25px;
    /* display: block; */
    /* margin: 0% auto; */
}
#id2{
    margin-top: 5%;
}        
h2{ 
    color: white;
   margin-right: 5.5%;
}
.item3{
    margin-top: 5%;
    /* margin-left: 0%; */
    padding-left: 2%;
    padding-top: 2%;
    /* border: 1px solid white; */
    color: white;
    background-color: rgb(255, 91, 91);
    border-radius: 5px;
    width: 90%;
    height: 30px;
    text-align: center;
    cursor: pointer;
}
.item3:hover{
    background-color: rgb(255, 21, 21);
}
@media screen and (min-width: 300px) and (max-width: 767px){
    body{
        /* display: block;
        margin: 0% auto; */
        margin-top: 50px;
        scale: 150%;
        padding-bottom: 400px;
        position: absolute;
        left: 120px;
        top: 0px;
        
    }
    body{
        background-color: rgb(55, 55, 55);
    }
    h2{
        margin-left: -45px;
    }
    input[type="text"]{
        width: 310px;
        height: 25px;
        margin-left: -45px;
    }
    /* .tem2{
        padding-bottom: -200%;
    } */
    .item3{
        width: 310px;
        margin-left: -45px;
    }
    
}
