body,
html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(69, 69, 69);
    flex-direction: column;
}

.container {
    width: 250px;
    height: 300px;
    background-color: rgb(55, 55, 55);
    border-radius: 3%;
    display: flex;
    justify-content: center;
}

.cross {
    margin-left: 230px;
    margin-bottom: 10px;
    width: 15px;
    height: 15px;
}

.closeBox {
    display: flex;
}

.content {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#lg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 100%;
    text-align: center;
    font-size: small;
    color: white;
    background-color: rgb(255, 91, 91);
    cursor: pointer;
    border-radius: 3px;
}

.inputMargin {
    margin-bottom: 10px;
    width: 100%;
}

#lg:hover {
    background-color: rgb(255, 21, 21);
}

h2 {
    color: white;

}


::placeholder {
    font-size: small;
}

#checkbox {
    display: flex;
    color: white;
    font-size: xx-small;
    margin-top: 10px;
}

#checkbox label {
    margin-left: 3%;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
    body {
        /* width: 100%; */
        /* height: 100%; */
        background-color: rgb(55, 55, 55);
        position: relative;
        left: 200px;
        top: -250px;
    }

    form {
        /* width: 200px; */
        /* height: 250px; */
        border: 0.5px solid rgb(95, 95, 95);
        margin: 15% auto;

    }

    h2 {
        position: relative;
        left: -20px;
    }


}

#text {
    display: flex;
    font-size: 5px;
    color: rgb(180, 180, 180);
    justify-content: space-between;
    margin-top: 10px;
}

#text>a {
    color: rgb(226, 225, 225);
    font-size: 7px;
}

/* @media screen and (min-width: 1024px){

        } */