video {
    width: 100%;


}

h2 {
    font-family: SUITE-Regular;
    text-align: center;
}





.festival {
    background-color: #ededed;


}

.festival_container {
    max-width: 90%;
    margin: auto;
    margin-top: 1em;
}

.festival_list {
    margin: 30px;

}

.slick-list {
    height: 100%;
}

.slick-prev:before,
.slick-next:before {
    font-size: 25px;
    line-height: 1;
    opacity: .75;
    color: black;
}

.festival_list_text_box {
    font-family: SUITE-Regular;
    text-align: center;
    margin-top: 1em;

}

.festival_list:hover {
    box-shadow: 0 14px 18px #00000040, 0 10px 10px #00000038;
    transform: translateY(-10px);
}


.festival_list img {
    width: 100%;
}