.media {
    height: 700px;
}

.media > video {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

/* video {
    width: 100%;
    position: relative;
    top: 88px;
    object-fit: cover;
} */

.video_text {
    position: absolute;
    bottom: 45%;
    left: 8%;
    font-family: SUITE-Regular;
    color: white;
    font-size: 55px;
    font-weight: 900;

}


.video_text1 {
    font-size: 65px;
    animation: fadein 5s;
    -webkit-animation: fadein 5s;
}

.video_text2 {
    animation: fadein 7s;
    -webkit-animation: fadein 7s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width:768px) {
    .video_text {
        display: block;
        width: 300px;
        position: absolute;
        bottom: 50%;
        left: 8%;

    }

    .video_text1 {
        font-size: 50px;
        font-weight: 800;

    }

    .video_text2 {
        font-size: 35px;
    }
}


h2 {
    font-family: SUITE-Regular;
    text-align: center;
}

.festival {
    background-color: #ededed;
}

.festival_container {
    max-width: 90%;
    margin: auto;
    margin-top: 1em;
}

.festival_list {
    margin: 30px;

}

.slick-list {
    height: 100%;
}

.slick-prev:before,
.slick-next:before {
    font-size: 25px;
    line-height: 1;
    opacity: .75;
    color: black;
}

.festival_list_text_box {
    font-family: SUITE-Regular;
    text-align: center;
    margin-top: 1em;

}

.festival_list:hover {
    box-shadow: 0 14px 18px #00000040, 0 10px 10px #00000038;
    transform: translateY(-10px);
}


.festival_list img {
    width: 100%;
}