#map {
    max-width: 500px;
    flex-grow: 1;
    height: 500px;
    border-radius: 15px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.eventCard {
    width: 250px;
    height: 500px;
    margin-right: 60px;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: black;
    text-align: center;
    background-color: white;
    background-image: url("../img/festival.gif");
}

.eventCard:hover {
    cursor: pointer;
}

.festival_img {
    width: 200px;
    height: 300px;
    border-radius: 15px;
}

.image {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.codeName {
    height: 30px;
    width: 200px;
    background-color: black;
    text-align: center;
    display: inline-block;
    border-radius: 0 0 15px 15px;
    color: white;
}

.eventName {
    font-weight: 700;
}

.eventLocation {}

.eventTime {}

.font {
    font-size: 17px;
    margin: 10px;
}

@keyframes eventCardEvent {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 300px) and (max-width: 850px) {
    .font {
        font-size: 15px;
        margin: 5px
    }

}