
.banner {
    width: 100%; height: 200px; background-color: #333; color: #fff;
}

#eventContainer {
    width: 100%; min-height: 900px;  margin-bottom: 1em;
}


#eventContainer > .event-list-fillter {
    width: 90%; height: 100%; margin: auto; margin-bottom: 1em;

}
#eventContainer > .event-list-title {
    text-align: center; color: #333; 
    font-size: 24px; line-height: 26px;
   
}

#eventContainer >.event-item-wrap  {
    width: 90%; height: 100%; margin: auto; margin-bottom: 1em;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

/** item box */
#eventContainer >.event-item-wrap > .item {
    width: calc(24% - 15px);  cursor: pointer;
    height: 350px; margin-right: 1em; margin-bottom: 1em;
    border-radius: 4px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .1);
} 

#eventContainer  >.event-item-wrap > .item > a {
    display: block; position: relative;
    overflow: hidden; z-index: 1; text-decoration: none;
    border-radius: 4px;
}
#eventContainer  > .event-item-wrap > .item > a > .thumb {
    overflow: hidden; position: relative;
    width: 100%; height: 210px; border: 1px solid #eee;
    background-repeat: no-repeat;
    background-size: cover; background-position: center;

}
#eventContainer  > .event-item-wrap > .item > a > .thumb:hover {

    background-size: contain; background-position: bottom;
    border: 1px solid #eee;
    transition-property: transform;
    transition-duration: 0.5;
    transition-timing-function: linear;
    -webkit-transform: transform 0.5s linear;

    /* transition: transform 0.5s cubic-bezier(.23, 1, .32, 1);
    -webkit-transform: transform 0.5s cubic-bezier(.23, 1, .32, 1); */
}

#eventContainer  > .event-item-wrap > .item > a > .thumb > .tip-text {
    display: inline-block;
    line-height: 1.4; font-size: 1em;
    background: #eee; color: #000; font-weight: bold;
    position: absolute;
    z-index: 1; left: 5px; top: 5px;
    padding: 5px 10px; min-width: 80px;
    box-sizing: border-box; text-align: center;
    font-size: 14px; border-radius: 4px;  
}


#eventContainer > .event-item-wrap > .item > a > .infor-element {
    position: relative; z-index: 10;
    margin: 0; background-color: #fff;
}

#eventContainer> .event-item-wrap > .item > a > .infor-element > .infor-element-inner {
    min-height: 125px; padding: 13px 10px;
    box-sizing: border-box;
}

#eventContainer > .event-item-wrap > .item > a > .infor-element > .infor-element-inner .title {
    font-size: 17px; color: #222;
    font-weight: 700;
    display: block; text-overflow: ellipsis;
    white-space: nowrap; overflow: hidden;
}


#eventContainer > .event-item-wrap > .item > a > .infor-element > .infor-element-inner .small-text {
    font-size: 14px;
    color: #959595;
    margin-top: 5px;
    line-height: 20px;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}